<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEJY3JruoN54l0uJ-diPiwMy6pCF_Pwus</string>
	<key>GCM_SENDER_ID</key>
	<string>190836363748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snapchat</string>
	<key>PROJECT_ID</key>
	<string>chat-up-9d23a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-up-9d23a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190836363748:ios:29c7d0c4fe6587ffce37f1</string>
</dict>
</plist>